@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --font-family: 'Inter', sans-serif;

    --color-bg: #000000;
    --color-section: #282828;
    --color-blog: #ff5f00;
    --color-txt-card: #9D9FA1;
}