.saas__hero {
  display: flex;
  background: var(--color-section);
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.saas__hero-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.saas__hero-content h1 {
  font-family: var(--font-family);
  font-size: 5.25rem;
  font-weight: 600;
  line-height: 5.5625rem;
  letter-spacing: -0.21875rem;

  color: #fff;
  text-align: center;
  width: 74.5rem;
}

.saas__hero-content p {
  font-family: var(--font-family);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.1875rem;

  color: var(--color-txt-card);
  text-align: center;
}

.saas__hero-content button {
  background: var(--color-gradient);
  display: flex;
  padding: 0.625rem 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.4375rem;
  border: 0;
  outline: none;

  color: #fff;
  font-family: var(--font-family);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.saas__hero-content__quickstart p {
  font-family: var(--font-family);
  line-height: 2.1875rem;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.00875rem;

  color: var(--color-txt-card);
  text-align: center;
}

.image-overlay-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  width: fit-content;
}

.tree-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  z-index: 1;
  opacity: 0.8;
  margin-top: -325px;
}

.icons-image {
  position: relative;
  width: 1000px;
  z-index: 2;
  margin-top: -250px;
}

@media (max-width: 1150px) {
  .saas__hero-content h1 {
    font-size: 4rem;
    line-height: 4rem;
    width: 45rem;
  }

  .saas__hero-content p* {
    font-size: 1.3rem;
  }

  .image-overlay-container {
    margin-top: 5rem;
  }

  .tree-image {
    width: 900px;
    margin-top: -270px;
  }

  .icons-image {
    width: 900px;
    margin-top: -200px;
  }
}

@media screen and (max-width: 980px) {
  .image-overlay-container {
    margin-top: 8rem;
  }
  .tree-image {
    width: 800px;
  }

  .icons-image {
    width: 800px;
  }
}

@media screen and (max-width: 750px) {
  .saas__hero-content h1 {
    font-size: 3.8rem;
    width: 40rem;
  }

  .saas__hero-content p* {
    font-size: 1.2rem;
  }

  .tree-image {
    width: 700px;
  }

  .icons-image {
    width: 700px;
  }
}

@media screen and (max-width: 550px) {
  .saas__hero-content h1 {
    font-size: 3.5rem;
    width: 33rem;
  }

  .saas__hero-content p* {
    font-size: 1rem;
  }

  .tree-image {
    width: 500px;
    margin-top: -220px;
  }

  .icons-image {
    width: 500px;
    margin-top: -180px;
  }
}
